$doc-black: #333;
$doc-blue: #1989fa;
$doc-text-color: #34495e;
$doc-text-light-blue: rgba(69, 90, 100, 0.6);
$doc-grey: #999;
$doc-dark-grey: #666;
$doc-light-grey: #ccc;
$doc-border-color: #f1f4f8;
$doc-code-color: #455a64;
$doc-code-background-color: #f1f4f8;
$doc-padding: 30px;
$doc-row-max-width: 1680px;
$doc-nav-width: 220px;

/* header */
$doc-header-top-height: 60px;
$doc-header-bottom-height: 50px;

/* simulator */
$doc-simulator-width: 320px;
$doc-simulator-small-width: 320px;
$doc-simulator-height: 640px;
$doc-simulator-small-height: 620px;
